.nav-bar {
    list-style: none;
    text-decoration: none;
    margin: 0;
    height: 55px;
    padding: 8px 20px; /* Adjust padding to control spacing inside the nav bar */
    display: flex; 
    justify-content: space-between; /* Space out items evenly */
    align-items: center; /* Vertically align items to the center */
    gap: 20px; /* Adjust gap between items */
    background: linear-gradient(135deg, rgb(175, 29, 136, 1) 25%, rgba(0, 0, 0, 1) 100%); /* Adjust the angle and percentage values for position and spread */
    color: white;
    position: fixed; /* Make the nav bar fixed */
    top: 0; /* Position it at the top of the page */
    left: 0; /* Ensure it starts from the left edge */
    right: 0; /* Ensure it spans to the right edge */
    z-index: 1000; /* Ensure it is above other content */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.nav-bar .logo {
    margin-right: auto; /* Pushes the logo to the left */
    padding-left: 20px; /* Adjust padding to control spacing */
    font-size: xx-large;
    letter-spacing: 8px;
    font-family: kanit;
    font-weight: 900;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-family: kanit;
    padding: 0 10px; /* Add padding to control spacing around links */
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(-135deg, rgb(123,20,95,1) 1%, rgba(0, 0, 0, 1) 100%); /* Adjust the angle and percentage values for position and spread */
    /*padding-top: 55px; /* Add padding to avoid content being hidden behind the fixed nav bar */
}

/* Add this at the beginning or end of your CSS file */


/* WHO ARE WE SECTION */

.presentation{
    min-height: 990px;
    width: 100%;
    display: flex;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 1); /* Adds a shadow at the bottom */
}

.presText{
    width: 50%;
    height: inherit;
    -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.presText h1, .presText p{
    color: white;
    font-family: kanit;
    position: relative;
    top: 390px;
    right: 40px;
}

.presText h1{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.presText p{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;
    width: 60%; /* Adjust the width to make the paragraph smaller */
    margin: 0 auto; /* Center the paragraph horizontally */
    margin-top: 30px;
}

.presImg {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this to position the overlay correctly */
}

.presImg video{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    pointer-events: none; /* Allows clicks to pass through the overlay */
    transition: background-color 1s ease-in-out; /* Smooth transition */
}

.black-overlay.visible {
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
}

.historyDiv {
    display: flex;
    height: 1000px;
    width: 100%;
    align-items: center;
    background: linear-gradient(135deg, rgb(123,20,95,1) 50%, rgba(0, 0, 0, 1) 100%);
    /*justify-content: center; /* Center the collageDiv horizontally */
}

.collageDiv {
    position: relative; /* Make this container relatively positioned */
    height: 85%;
    width: 30%;
    top: 60px;
    align-items: center;
}

.frameDiv {
    position: relative;
    z-index: 1; /* Ensure the frame is above the image */
    background-image: url('imgs/frame.png');
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
    width: 90%; /* Ensure the element has a width */
    height: 50%; /* Ensure the element has a height */
    object-fit: contain;
    position: absolute; /* Position the frames absolutely within the collageDiv */
    z-index: 3;
    opacity: 0; /* Make the frames initially invisible */
}

/* Add different tilts to each frameDiv */
.frameDiv:nth-of-type(1) {
    transform: rotate(-5deg); /* Tilt the first frame by -5 degrees */
    top: 0; /* Position the first frame at the top */
    left: 10%; /* Adjust the left position as needed */
    --final-rotation: -5deg; /* Custom property for final rotation */
}

.frameDiv:nth-of-type(2) {
    transform: rotate(19deg); /* Tilt the second frame by 5 degrees */
    top: 15%; /* Position the second frame slightly below the first */
    left: 15%; /* Adjust the left position as needed */
    --final-rotation: 19deg; /* Custom property for final rotation */
}

.frameDiv:nth-of-type(3) {
    transform: rotate(-19deg); /* Tilt the third frame by -10 degrees */
    top: 30%; /* Position the third frame slightly below the second */
    left: 20%; /* Adjust the left position as needed */
    --final-rotation: -19deg; /* Custom property for final rotation */
}

.inner-img {
    width: 59.5%;
    height: 68.8%;
    object-fit: cover; /* Ensure the image covers the entire frameDiv */
    position: relative;
    top: 30px;
    left: 90px;
    z-index: 0; /* Ensure the image is below the frame */
}

.historyText {
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
    position: relative;
    right: -210px;
    justify-content: center;
    align-items: center;
}

.historyText h1, .historyText p {
    color: white;
    font-family: kanit;
    text-align: center;
    display: flex;
    position: relative;
    top: -50px;
}

.historyText h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.historyText p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 20px;
    width: 60%; /* Adjust the width to make the paragraph smaller */
    margin: 0 auto; /* Center the paragraph horizontally */
    margin-top: 30px;
}




@-webkit-keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}


/*ROLL IN KEYFRAMES*/ 

/* ----------------------------------------------
 * Generated by Animista on 2024-11-8 13:8:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-bottom {
    0% {
      -webkit-transform: translateY(800px) rotate(540deg);
              transform: translateY(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotate(var(--final-rotation, 0deg));
              transform: translateY(0) rotate(var(--final-rotation, 0deg));
      opacity: 1;
    }
  }
  @keyframes roll-in-bottom {
    0% {
      -webkit-transform: translateY(800px) rotate(540deg);
              transform: translateY(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotate(var(--final-rotation, 0deg));
              transform: translateY(0) rotate(var(--final-rotation, 0deg));
      opacity: 1;
    }
  }

.roll-in-bottom {
    -webkit-animation: roll-in-bottom 0.6s ease-out both;
            animation: roll-in-bottom 0.6s ease-out both;
}